* {
    margin: 0;
    padding: 0;

    font-family: 'Alfa Slab One', cursive;
    font-size: 14px;
    color: #333;
}

a {
    text-decoration: none !important;
}

span, .dataSelection {
    font-family: 'Epilogue', sans-serif;
    font-weight: 400;
    color: white;
}

body {
    background-color: rgb(30, 58, 104) !important;
}

.percentages {
    color: rgb(30, 58, 104);
    font-size: 24px;
}

p, h4 {
    color: white;
    padding: 0;
    margin: 0 !important;
}

.title {
    background-color: #FFE330;
    z-index: 999;

    margin: 1em;
    padding: 15px 50px;
}

.opener {
    background-image: url('../../images/NewYorkCity.jpg');
    background-size: cover;
    background-position: center center;
}

#mapSection .map path {
    stroke: white;
}

div.tooltip {
    position: absolute;
    text-align: center;

    top: 0;
    padding: 1em;
    font-size: 12px;
    background-color: #FFE330;
    pointer-events: none;
}

.dflex-col {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
    text-align: center;
}

.dflex-row {
    display: flex;
    flex-direction: row;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.billboard-lg {
    width: 100%;
    height: 100vh;
}

.legendChange {
    width: 450px;
}

.mapVisPadding {
    padding: 300px !important;
}

.dataSelection {
    background-color: transparent;
    border-radius: 25px;
    border: solid white 3px;

    color: white;
    font-weight: 700;

    padding: 10px 30px
}

.dataSelection:hover {
    background-color: white;
    color: rgb(30, 58, 104);
}

.selectedData {
    background-color: white;
    color: rgb(30, 58, 104);
}

.demographicCircle {
    width: 25px;
    height: 25px;

    color: white;

    border: none;
    border-radius: 1em;

    margin-right: 5px;
}

#demographicFilter, #findingsFilter {
    height: 270px;
}

#whiteDemographic {
    background-color: #beaed4;
}

#blackDemographic {
    background-color: #fdc086;
}

#hispanicDemographic {
    background-color: #ffff99;
}

#unknownDemographic {
    background-color: #386cb0;
}

#asianDemographic {
    background-color: #f0027f;
}

#otherDemographic {
    background-color: #bf5b17;
}

#WhiteX, #BlackX, #HispanicX, #UnknownX, #AsianX, #OtherX {
    font-weight: 800;
    color: rgb(30, 58, 104);
    opacity: 0;
}

#findingsFilter {
    display: none;
}

#substantiatedComplaint {
    background-color: #ef8a62;
}

#unsubstantiatedDemographic {
    background-color: #f7f7f7;
}

#exoneratedDemographic {
    background-color: #67a9cf;
}

#SubstantiatedX, #UnsubstantiatedX, #ExoneratedX {
    color: rgb(30, 58, 104);
    opacity: 0;
}
