* {
    margin: 0;
    padding: 0;

    font-family: 'Alfa Slab One', cursive;
    font-size: 14px;
    color: #333;
}

body {
    background-color: rgb(30, 58, 104) !important;
}

#content .map path {
    /*fill: lightgrey;*/
    stroke: white;
}

div.tooltip {
    position: absolute;
    text-align: center;

    top: 0;
    padding: 1em;
    font-size: 12px;
    background-color: #FFE330;
    pointer-events: none;
}

.dflex-col {
    display: flex;
    flex-direction: column;

    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    align-self: center;
}

.billboard-lg {
    width: 100%;
    height: 100vh;
}