* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Futura", serif;
  background-color: #050b1e;
}

/* ----------------------- COLORS ----------------------- */
.blue, header a {
  color: #050b1e;
}
.blue:hover, header a:hover {
  color: #050b1e;
}

.bg-blue {
  background-color: #050b1e;
}

.champagne, .card-top, footer a {
  color: #FAD6A5;
}
.champagne:hover, .card-top:hover, footer a:hover {
  color: #FAD6A5;
}

.bg-champagne {
  background-color: #FAD6A5;
}

.white, .card-bottom {
  color: white;
}
.white:hover, .card-bottom:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.black {
  color: black;
}
.black:hover {
  color: black;
}

.bg-black {
  background-color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
}

/* ----------------------- FONTS ----------------------- */
.f-0, .card-bottom {
  font-size: 16px;
}
@media screen and (max-width: 960px) {
  .f-0, .card-bottom {
    font-size: 14px;
  }
}

.f-1, .card-top, button {
  font-size: 22px;
}
@media screen and (max-width: 960px) {
  .f-1, .card-top, button {
    font-size: 18px;
  }
}

.f-2 {
  font-size: 28px;
}
@media screen and (max-width: 960px) {
  .f-2 {
    font-size: 24px;
  }
}

.f-3 {
  font-size: 36px;
}
@media screen and (max-width: 960px) {
  .f-3 {
    font-size: 30px;
  }
}

.f-4 {
  font-size: 48px;
}
@media screen and (max-width: 960px) {
  .f-4 {
    font-size: 42px;
  }
}

.f-5 {
  font-size: 64px;
}
@media screen and (max-width: 960px) {
  .f-5 {
    font-size: 56px;
  }
}

/* ----------------------- SIZES ----------------------- */
#services-urbanDesign-background, #services-architecturalDesign-background, #services-interiorDesign-background, #doreen-active, #syed-active, .billboard, .billboard-lg .video-bg section, .billboard-lg .video-bg video, .billboard-lg .video-bg, .screen-small, .screen-large {
  width: 100% !important;
  height: 100% !important;
}

.w-max {
  width: 100%;
  max-width: 1200px;
}

.w-33 {
  width: 33.33%;
}

.w-66 {
  width: 66.66%;
}

/* ----------------------- SCREENS ----------------------- */
section {
  padding: 3em;
}
@media screen and (max-width: 960px) {
  section {
    padding: 2em;
  }
}

.screen-large {
  display: block;
}
@media screen and (max-width: 960px) {
  .screen-large {
    display: none;
  }
}

.screen-small {
  display: none;
}
@media screen and (max-width: 960px) {
  .screen-small {
    display: block;
  }
}

/* ----------------------- ORIENTATIONS ----------------------- */
.dflex-col, .dflex-row, .dflex-left, .dflex-right, .dflex-bottom, .card-bottom, .dflex-top, .card-bottom-img, .card-top, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.dflex-top, .card-bottom-img, .card-top {
  justify-content: flex-start;
}

.dflex-bottom, .card-bottom {
  justify-content: flex-end;
}

.dflex-row, .dflex-left, .dflex-right {
  flex-direction: row;
}

.dflex-right {
  justify-content: flex-end;
  text-align: right;
}

.dflex-left {
  justify-content: flex-start;
  text-align: left;
}

/* ----------------------- LINKS ----------------------- */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.text {
  position: relative;
}
a.text:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #050b1e;
  width: 0;
  height: 3px;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
a.text:before:hover {
  visibility: visible;
  width: 100%;
}
a.text:hover:before {
  visibility: visible;
  width: 100%;
}
a.text.champagne:before, a.text.card-top:before, footer a.text:before {
  background-color: #FAD6A5;
}

/* ----------------------- BUTTONS ----------------------- */
button {
  width: 300px;
  height: 60px;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  border-radius: 3em;
}
button.champagne, button.card-top {
  border: solid #FAD6A5 3px;
}
button.champagne:hover, button.card-top:hover {
  color: #050b1e;
  background-color: #FAD6A5;
}
button.blue {
  border: solid #050b1e 3px;
}
button.blue:hover {
  color: #FAD6A5;
  background-color: #050b1e;
}
@media screen and (max-width: 960px) {
  button {
    width: 250px;
    height: 50px;
  }
}

/* ----------------------- IMAGES ----------------------- */
.bg-img, #services-urbanDesign-background, #services-architecturalDesign-background, #services-interiorDesign-background, #doreen-active, #syed-active {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* ----------------------- HEADER ----------------------- */
.header-space {
  height: 60px;
}

header {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: #FAD6A5;
  z-index: 999;
  padding: 0 15px;
}
header a {
  margin: 0 15px;
}

/* ----------------------- FOOTER ----------------------- */
footer {
  height: 100px;
  width: 100%;
  background-color: #050b1e;
  padding: 0 15px;
}
footer a {
  margin: 0 15px;
}

/* ----------------------- BILLBOARDS ----------------------- */
.billboard-lg {
  width: 100% !important;
  height: calc(100vh - 60px) !important;
}
.billboard-lg .video-bg {
  position: relative;
  overflow: hidden;
}
.billboard-lg .video-bg video {
  object-fit: cover;
  opacity: 0.8;
}
.billboard-lg .video-bg section {
  position: absolute;
  top: 0;
  left: 0;
}

.billboard {
  padding: 15px;
}

/* ----------------------- BORDERS ----------------------- */
.blue-border {
  border: solid #050b1e 3px;
}

.blue-border-lg {
  border: solid #050b1e 5px;
}

.white-border {
  border: solid white 3px;
}

.white-border-lg {
  border: solid white 5px;
}

.champagne-border {
  border: solid #FAD6A5 3px;
}

.champagne-border-lg, .card-full-lg .inner-border, .card-full-lg .outer-border {
  border: solid #FAD6A5 5px;
}

.bottom-border {
  background-color: #050b1e;
  width: 100%;
  height: 3px;
}

/* ----------------------- CARDS ----------------------- */
.card-size {
  width: 350px;
  height: 500px;
}
@media screen and (max-width: 960px) {
  .card-size {
    width: 300px;
    height: 400px;
  }
}

.outer-border {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  transition: ease-in-out 0.3s;
}

.inner-border {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 15px);
  height: calc(100% - 15px);
  transition: ease-in-out 0.3s;
}

.card-content, .card-content-anim {
  position: absolute;
  transition: ease-in-out 0.3s;
  padding: 30px;
  top: 35px;
  left: 35px;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}

.card-full-lg {
  width: 100%;
  height: 100%;
  position: relative;
}
.card-full-lg .outer-border {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}
.card-full-lg .inner-border {
  width: calc(100% - 30px);
  height: calc(100% - 30px);
}
.card-full-lg .card-content, .card-full-lg .card-content-anim {
  padding: 30px;
  top: 35px;
  left: 35px;
  width: calc(100% - 70px);
  height: calc(100% - 70px);
}
.card-full-lg:hover .outer-border {
  top: 15px;
  left: 15px;
}
.card-full-lg:hover .inner-border {
  bottom: 15px;
  right: 15px;
}

.card-long {
  width: 100%;
  height: 450px;
}
.card-long .card-content, .card-long .card-content-anim {
  background-color: orange !important;
  top: 34px;
  left: 46px;
}
.card-long:hover .card-content, .card-long:hover .card-content-anim {
  top: 20px !important;
  left: 30px !important;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
}
@media screen and (max-width: 960px) {
  .card-long {
    width: 100%;
    height: 100%;
  }
}

.card-top {
  height: 40%;
}

.card-bottom {
  height: 60%;
}

.card-bottom-img {
  height: calc(60% + 20px);
  position: relative;
  transition: ease-in-out 0.3s;
}
.card-bottom-imgimg {
  position: absolute;
  top: 50px;
  transition: ease-in-out 0.3s;
}

/* ----------------------- SPECIFIC ----------------------- */
#syed-active-text {
  display: none;
}

#doreen-active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Doreen All Views/Seminar Room 02.jpg");
}

#syed-active {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Syed Resi Visuals/dining 2 (1) edit hdr_R2.jpg");
}

#services-architecturalDesign, #services-interiorDesign {
  display: none;
}

#services-urbanDesign-background, #services-architecturalDesign-background, #services-interiorDesign-background {
  position: absolute;
  opacity: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/RC Visuals/Bedroom 2_Final 01 edit.jpg");
}

#services-architecturalDesign-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/RC Visuals/Foyer_Final_02 edit1.jpg");
  opacity: 0;
}

#services-interiorDesign-background {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/RC Visuals/Master Bedroom_desat1.jpg");
  opacity: 0;
}

/*# sourceMappingURL=final.css.map */
