* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Futura", serif;
  background-color: #050b1e;
}

/* ----------------------- COLORS ----------------------- */
.blue, #card-1-text, #card-1-button, #card-2-text, #card-2-button, #card-3-text, #card-3-button, header .screen-large a {
  color: #050b1e;
}
.blue:hover, #card-1-text:hover, #card-1-button:hover, #card-2-text:hover, #card-2-button:hover, #card-3-text:hover, #card-3-button:hover, header .screen-large a:hover {
  color: #050b1e;
}

.bg-blue {
  background-color: #050b1e;
}

.champagne, footer .screen-large a {
  color: #FAD6A5;
}
.champagne:hover, footer .screen-large a:hover {
  color: #FAD6A5;
}

.bg-champagne {
  background-color: #FAD6A5;
}

.white, .services-description, .services-title {
  color: white;
}
.white:hover, .services-description:hover, .services-title:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.black {
  color: black;
}
.black:hover {
  color: black;
}

.bg-black {
  background-color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
}

/* ----------------------- FONTS ----------------------- */
.f-0 {
  font-size: 16px;
}
@media screen and (max-width: 960px) {
  .f-0 {
    font-size: 14px;
  }
}

.f-1, .services-description, .button {
  font-size: 22px;
}
@media screen and (max-width: 960px) {
  .f-1, .services-description, .button {
    font-size: 18px;
  }
}

.f-2, #card-1-text, #card-2-text, #card-3-text {
  font-size: 28px;
}
@media screen and (max-width: 960px) {
  .f-2, #card-1-text, #card-2-text, #card-3-text {
    font-size: 24px;
  }
}

.f-3 {
  font-size: 36px;
}
@media screen and (max-width: 960px) {
  .f-3 {
    font-size: 30px;
  }
}

.f-4, .services-title {
  font-size: 48px;
}
@media screen and (max-width: 960px) {
  .f-4, .services-title {
    font-size: 42px;
  }
}

.f-5 {
  font-size: 64px;
}
@media screen and (max-width: 960px) {
  .f-5 {
    font-size: 56px;
  }
}

.f-bold {
  font-weight: bold;
}

/* ----------------------- SIZES ----------------------- */
.use-full, #services-architecture, #services-urban, #services-interior, #card-1-img, #card-2-img, #card-3-img, .carousel-item, .screen-small, .screen-large {
  width: 100% !important;
  height: 100% !important;
}

.w-max {
  width: 100%;
  max-width: 1200px;
}

.w-33 {
  width: 33.33%;
}

.w-66 {
  width: 66.66%;
}

/* ----------------------- SCREENS ----------------------- */
section {
  padding: 3em;
}
@media screen and (max-width: 960px) {
  section {
    padding: 2em;
  }
}

.screen-large {
  display: block;
}
@media screen and (max-width: 960px) {
  .screen-large {
    display: none;
  }
}

.screen-small {
  display: none;
}
@media screen and (max-width: 960px) {
  .screen-small {
    display: block;
  }
}

/* ----------------------- ORIENTATIONS ----------------------- */
.dflex-col, #services-architecture, #services-urban, #services-interior, #card-1-inner, #card-2-inner, #card-3-inner, #card-1, #card-2, #card-3, .button, .dflex-row, a.text-arrow, .dflex-left, .projectCards, .dflex-right, .dflex-bottom, .dflex-top, section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.dflex-top {
  justify-content: flex-start;
}

.dflex-bottom {
  justify-content: flex-end;
}

.dflex-row, a.text-arrow, .dflex-left, .projectCards, .dflex-right {
  flex-direction: row;
}

.dflex-right {
  justify-content: flex-end;
  text-align: right;
}

.dflex-left, .projectCards {
  justify-content: flex-start;
  text-align: left;
}

/* ----------------------- LINKS ----------------------- */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.text-arrow {
  position: relative;
}
a.text-arrow .txt {
  transition: ease-in-out 0.3s;
}
a.text-arrow .arrow {
  position: absolute;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
}
a.text-arrow .arrow.f-4, a.text-arrow .arrow.services-title {
  width: 48px;
}
@media screen and (max-width: 960px) {
  a.text-arrow .arrow.f-4, a.text-arrow .arrow.services-title {
    width: 42px;
  }
}
a.text-arrow .arrow.f-3 {
  width: 36px;
}
@media screen and (max-width: 960px) {
  a.text-arrow .arrow.f-3 {
    width: 30px;
  }
}
a.text-arrow .arrow.f-2, a.text-arrow .arrow#card-1-text, a.text-arrow .arrow#card-2-text, a.text-arrow .arrow#card-3-text {
  width: 28px;
}
@media screen and (max-width: 960px) {
  a.text-arrow .arrow.f-2, a.text-arrow .arrow#card-1-text, a.text-arrow .arrow#card-2-text, a.text-arrow .arrow#card-3-text {
    width: 24px;
  }
}
a.text-arrow .arrow.f-1, a.text-arrow .arrow.services-description, a.text-arrow .arrow.button {
  width: 20px;
}
@media screen and (max-width: 960px) {
  a.text-arrow .arrow.f-1, a.text-arrow .arrow.services-description, a.text-arrow .arrow.button {
    width: 18px;
  }
}
a.text-arrow .arrow.f-0 {
  width: 16px;
}
@media screen and (max-width: 960px) {
  a.text-arrow .arrow.f-0 {
    width: 14px;
  }
}
a.text-arrow:hover .arrow {
  opacity: 1;
}
a.text-arrow:hover .arrow.f-4, a.text-arrow:hover .arrow.services-title {
  margin-left: 60px;
}
a.text-arrow:hover .arrow.f-1, a.text-arrow:hover .arrow.services-description, a.text-arrow:hover .arrow.button {
  margin-left: 25px;
}
a.text-arrow:hover .arrow.f-0 {
  margin-left: 20px;
}
a.text-arrow:hover .txt.f-4, a.text-arrow:hover .txt.services-title {
  margin-right: 60px;
}
a.text-arrow:hover .txt.f-1, a.text-arrow:hover .txt.services-description, a.text-arrow:hover .txt.button {
  margin-right: 25px;
}
a.text-arrow:hover .txt.f-0 {
  margin-right: 20px;
}
a.text-underline {
  position: relative;
}
a.text-underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #050b1e;
  width: 0;
  height: 3px;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
a.text-underline:before:hover {
  visibility: visible;
  width: 100%;
}
a.text-underline:hover:before {
  visibility: visible;
  width: 100%;
}
a.text-underline.champagne:before, footer .screen-large a.text-underline:before {
  background-color: #FAD6A5;
}

/* ----------------------- BUTTONS ----------------------- */
.button {
  width: 300px;
  height: 60px;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  border-radius: 3em;
}
.button.champagne, footer .screen-large a.button {
  border: solid #FAD6A5 3px;
}
.button.champagne:hover, footer .screen-large a.button:hover {
  color: #050b1e;
  background-color: #FAD6A5;
}
.button.blue, .button#card-1-text, .button#card-1-button, .button#card-2-text, .button#card-2-button, .button#card-3-text, .button#card-3-button, header .screen-large a.button {
  border: solid #050b1e 3px;
}
.button.blue:hover, .button#card-1-text:hover, .button#card-1-button:hover, .button#card-2-text:hover, .button#card-2-button:hover, .button#card-3-text:hover, .button#card-3-button:hover, header .screen-large a.button:hover {
  color: #FAD6A5;
  background-color: #050b1e;
}
@media screen and (max-width: 960px) {
  .button {
    width: 250px;
    height: 50px;
  }
}

/* ----------------------- IMAGES ----------------------- */
.bg-img, #services-interior, #services-urban, #services-architecture, #project-carousel-slide1, #project-carousel-slide2, #project-carousel-slide3, #top-carousel-slide1, #top-carousel-slide2, #top-carousel-slide3, .bg-img-top, .bg-img-bottom {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-bottom {
  background-position: center bottom;
}

.bg-img-top {
  background-position: center top;
}

/* ----------------------- HEADER ----------------------- */
.header-space {
  height: 60px;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FAD6A5;
  z-index: 999;
  padding: 0 15px;
}
header .screen-large {
  height: 70px !important;
}
header .screen-large a {
  margin: 0 15px;
}
header .screen-small {
  height: 60px;
}

/* ----------------------- FOOTER ----------------------- */
footer {
  height: 100px;
  width: 100%;
  padding: 0 15px;
  scroll-snap-align: start;
}
footer .screen-large a {
  margin: 0 15px;
}
@media screen and (max-width: 960px) {
  footer .screen-large a {
    margin: 0 10px;
  }
}
footer #linkedin, footer #twitter, footer #instagram {
  height: 25px;
}
@media screen and (max-width: 960px) {
  footer #linkedin, footer #twitter, footer #instagram {
    height: 20px;
  }
}

/* ----------------------- SNAPPING ----------------------- */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

/* ----------------------- BILLBOARDS ----------------------- */
.billboard-lg {
  width: 100% !important;
  height: 100vh !important;
  scroll-snap-align: center;
}

/* ----------------------- CAROUSEL ----------------------- */
.carousel-indicators li {
  width: 12px;
  height: 12px;
  background-color: transparent;
  color: transparent;
  border: 3px solid white;
  margin: 0 10px;
  border-radius: 100%;
  transition: 0.5s ease-in-out;
}
.carousel-indicators li.active {
  background-color: white !important;
  color: white !important;
}

.carousel-item {
  padding: 0 100px;
}
@media screen and (max-width: 960px) {
  .carousel-item {
    padding: 0 40px;
  }
}
.carousel-item .bottom-picture-title {
  position: absolute;
  right: calc(3em + 100px);
  bottom: 3em;
}
@media screen and (max-width: 960px) {
  .carousel-item .bottom-picture-title {
    right: calc(2em + 40px);
    bottom: 2em;
  }
}

.carousel-control-prev, .carousel-control-next {
  width: 100px;
}
@media screen and (max-width: 960px) {
  .carousel-control-prev, .carousel-control-next {
    width: 50px;
  }
}

/* ----------------------- SPECIFIC ----------------------- */
/* ----------------------- TOP CAROUSEL ----------------------- */
#top-carousel-slide1, #top-carousel-slide2, #top-carousel-slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Doreen/CEO Office 02.jpg");
}

#top-carousel-slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/KitezHotel/LobbyWall.jpg");
}

#top-carousel-slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/RitzCarlton/Dining_Final 01 edit.jpg");
}

#top-carousel-slide1-text, #project-carousel-slide1-text {
  opacity: 1;
}

#top-carousel-slide2-text, #top-carousel-slide3-text, #project-carousel-slide2-text, #project-carousel-slide3-text {
  opacity: 0;
}

#project-carousel-slide1, #project-carousel-slide2, #project-carousel-slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Doreen/Chairman Room 02 final.jpg");
}

#project-carousel-slide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/KitezHotel/LobbyWall.jpg");
}

#project-carousel-slide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/RitzCarlton/Master Bedroom_desat1.jpg");
}

/* ----------------------- CARDS ----------------------- */
#card-1, #card-2, #card-3 {
  width: 500px;
  position: absolute;
}
@media screen and (max-width: 960px) {
  #card-1, #card-2, #card-3 {
    width: 300px;
  }
}

#card-1 {
  height: 330px;
  bottom: 150px;
  left: 100px;
}
@media screen and (max-width: 960px) {
  #card-1 {
    height: 340px;
    left: 15px;
    bottom: 15px;
  }
}

#card-2 {
  height: 286px;
  bottom: 120px;
  right: 49px;
}
@media screen and (max-width: 960px) {
  #card-2 {
    height: 270px;
    right: 15px;
    bottom: 15px;
  }
}

#card-3 {
  height: 290px;
  bottom: 30px;
  left: 80px;
}
@media screen and (max-width: 960px) {
  #card-3 {
    height: 306px;
    left: 15px;
    bottom: 15px;
  }
}

#card-1-inner, #card-2-inner, #card-3-inner {
  background-color: rgba(250, 214, 165, 0.8);
  height: 0;
  padding: 0 30px;
}
@media screen and (max-width: 960px) {
  #card-1-inner, #card-2-inner, #card-3-inner {
    padding: 0 20px;
  }
}

#card-1-text, #card-1-button, #card-2-text, #card-2-button, #card-3-text, #card-3-button {
  opacity: 0;
}

#card-1-text, #card-2-text, #card-3-text {
  margin-bottom: 0.75em;
}

#card-1-img, #card-2-img, #card-3-img {
  background-size: cover;
  background-repeat: no-repeat;
}

#card-1-img {
  background-image: url("../images/Doreen/Gallery & Staircase 03 .jpg");
  background-position: center 80%;
}

#card-2-img {
  background-image: url("../images/RitzCarlton/Living_Final 01 edit HDR.jpg");
  background-position: center 80%;
}

#card-3-img {
  background-image: url("../images/SyedResidence/foyer 2 R2.jpg");
  background-position: 70% 70%;
}

/* ----------------------- SERVICES ----------------------- */
#services {
  position: relative;
}

#services-architecture, #services-urban, #services-interior {
  position: absolute;
  top: 0;
  left: 0;
}

#services-architecture {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/SyedResidence/dining 2 (1) edit hdr_R2.jpg");
  opacity: 1;
  z-index: 2;
}

#services-urban {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Doreen/Atrium 02 final.jpg");
  opacity: 0;
  z-index: 1;
}
#services-urban .services-title {
  opacity: 0;
}
#services-urban .services-description {
  opacity: 0;
}

#services-interior {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images/Doreen/Open Office 03.jpg");
  opacity: 0;
  z-index: 1;
}
#services-interior .services-title {
  opacity: 0;
}
#services-interior .services-description {
  opacity: 0;
}

.services-title {
  margin-bottom: 10px;
}

.services-description {
  margin-bottom: 30px;
}

/* ----------------------- PROJECT CAROUSEL ----------------------- */
#completed-carousel .carousel-control-prev {
  display: none;
}

.projectCards {
  width: 350px;
  height: 450px;
  margin: 0 15px;
  padding: 15px;
  border: solid #FAD6A5 5px;
}
.projectCards .arrow {
  opacity: 0;
}
.projectCards .arrow.f-4, .projectCards .arrow.services-title {
  width: 48px;
}
@media screen and (max-width: 960px) {
  .projectCards .arrow.f-4, .projectCards .arrow.services-title {
    width: 42px;
  }
}
.projectCards .arrow.f-3 {
  width: 36px;
}
@media screen and (max-width: 960px) {
  .projectCards .arrow.f-3 {
    width: 30px;
  }
}
.projectCards .arrow.f-2, .projectCards .arrow#card-1-text, .projectCards .arrow#card-2-text, .projectCards .arrow#card-3-text {
  width: 28px;
}
@media screen and (max-width: 960px) {
  .projectCards .arrow.f-2, .projectCards .arrow#card-1-text, .projectCards .arrow#card-2-text, .projectCards .arrow#card-3-text {
    width: 24px;
  }
}
.projectCards .arrow.f-1, .projectCards .arrow.button, .projectCards .arrow.services-description {
  width: 20px;
}
@media screen and (max-width: 960px) {
  .projectCards .arrow.f-1, .projectCards .arrow.button, .projectCards .arrow.services-description {
    width: 18px;
  }
}
.projectCards .arrow.f-0 {
  width: 16px;
}
@media screen and (max-width: 960px) {
  .projectCards .arrow.f-0 {
    width: 14px;
  }
}

.projectCards-height {
  height: 500px;
}

/*# sourceMappingURL=Restarting.css.map */
