* {
  padding: 0;
  margin: 0;
}

body {
  font-family: futura-pt, sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #12283B;
}

section, p {
  padding: 0;
  margin: 0;
}

/* ----------------------- COLORS ----------------------- */
.blue, header a {
  color: #12283B;
}
.blue:hover, header a:hover {
  color: #12283B;
}

.bg-blue {
  background-color: #12283B;
}

.champagne, .contact-items, .bottom-picture-title, footer a {
  color: #FAD6A5;
}
.champagne:hover, .contact-items:hover, .bottom-picture-title:hover, footer a:hover {
  color: #FAD6A5;
}

.bg-champagne {
  background-color: #FAD6A5;
}

.white {
  color: white;
}
.white:hover {
  color: white;
}

.bg-white {
  background-color: white;
}

.black {
  color: black;
}
.black:hover {
  color: black;
}

.bg-black {
  background-color: black !important;
}

.bg-transparent {
  background-color: transparent !important;
}

/* ----------------------- FONTS ----------------------- */
.f-0, footer a, header a {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  .f-0, footer a, header a {
    font-size: 16px;
  }
}

.f-1, .button {
  font-size: 20px;
}
@media screen and (max-width: 768px) {
  .f-1, .button {
    font-size: 18px;
  }
}

.f-2 {
  font-size: 26px;
}
@media screen and (max-width: 768px) {
  .f-2 {
    font-size: 18px;
  }
}

.f-3, header .title {
  font-size: 32px;
}
@media screen and (max-width: 768px) {
  .f-3, header .title {
    font-size: 26px;
  }
}

.f-4 {
  font-size: 38px;
}
@media screen and (max-width: 768px) {
  .f-4 {
    font-size: 32px;
  }
}

.f-5 {
  font-size: 48px;
}
@media screen and (max-width: 768px) {
  .f-5 {
    font-size: 38px;
  }
}

.f-6 {
  font-size: 64px;
}
@media screen and (max-width: 768px) {
  .f-6 {
    font-size: 58px;
  }
}

.f-bold, header .title {
  font-weight: bold;
}

/* ----------------------- SIZES ----------------------- */
.use-full, .carousel-item {
  width: 100% !important;
  height: 100% !important;
}

.w-max {
  width: 100%;
  max-width: 980px;
}

.w-33 {
  width: 33.33%;
}

.w-66 {
  width: 66.66%;
}

/* ----------------------- PADDING ----------------------- */
.p-header {
  padding-top: 75px !important;
}
@media screen and (max-width: 768px) {
  .p-header {
    padding-top: 60px !important;
  }
}

.p-carousel, .top-billboard {
  padding: 80px;
}
@media screen and (max-width: 768px) {
  .p-carousel, .top-billboard {
    padding: 40px;
  }
}

.px-carousel, footer, header {
  padding: 0 80px;
}
@media screen and (max-width: 768px) {
  .px-carousel, footer, header {
    padding: 0 40px;
  }
}

.p-title {
  padding-bottom: 20px;
}
@media screen and (max-width: 768px) {
  .p-title {
    padding-bottom: 10px;
  }
}

.p-subtitle {
  padding-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .p-subtitle {
    padding-bottom: 7.5px;
  }
}

.p-lg {
  padding: 2em !important;
}
@media screen and (max-width: 768px) {
  .p-lg {
    padding: 1em !important;
  }
}

.p-md {
  padding: 1em;
}
@media screen and (max-width: 768px) {
  .p-md {
    padding: 0.5em;
  }
}

.p-sm {
  padding: 0.5em;
}
@media screen and (max-width: 768px) {
  .p-sm {
    padding: 0.25em;
  }
}

/* ----------------------- MARGIN ----------------------- */
.m-button {
  margin-top: 20px !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

/* ----------------------- SCREENS ----------------------- */
.screen-lg {
  display: flex !important;
}
@media screen and (max-width: 768px) {
  .screen-lg {
    display: none !important;
  }
}

.screen-sm {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .screen-sm {
    display: flex !important;
  }
}

/* ----------------------- ORIENTATIONS ----------------------- */
.dflex-col, .contact-items, header .screen-sm .drop-down, .button, .dflex-row, a.text-arrow .text, .dflex-left, .top-billboard, .dflex-right, .dflex-bottom, .dflex-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
}

.dflex-top {
  justify-content: flex-start;
}

.dflex-bottom {
  justify-content: flex-end;
}

.dflex-row, a.text-arrow .text, .dflex-left, .top-billboard, .dflex-right {
  flex-direction: row;
}

.dflex-right {
  justify-content: flex-end;
  text-align: right;
}

.dflex-left, .top-billboard {
  justify-content: flex-start !important;
  text-align: left !important;
}

/* ----------------------- LINKS ----------------------- */
a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
a.text-arrow {
  padding: 10px;
  margin: 10px;
}
a.text-arrow .text {
  transition: ease-in-out 0.2s;
}
a.text-arrow .arrow {
  opacity: 0;
  transition: ease-in-out 0.2s;
}
a.text-arrow:hover .arrow {
  opacity: 1;
}
a.text-arrow:hover .arrow.f-4 {
  margin-left: 20px;
}
a.text-arrow:hover .arrow.f-4.left {
  margin-left: 0;
  margin-right: 20px;
}
a.text-arrow:hover .arrow.f-3, a.text-arrow:hover header .arrow.title, header a.text-arrow:hover .arrow.title {
  margin-left: 15px;
}
a.text-arrow:hover .arrow.f-3.left, a.text-arrow:hover header .arrow.left.title, header a.text-arrow:hover .arrow.left.title {
  margin-left: 0;
  margin-right: 15px;
}
a.text-arrow:hover .arrow.f-2, a.text-arrow:hover .arrow.f-1, a.text-arrow:hover .arrow.button, a.text-arrow:hover .arrow.f-0, a.text-arrow:hover footer a.arrow, footer a.text-arrow:hover a.arrow, a.text-arrow:hover header a.arrow, header a.text-arrow:hover a.arrow {
  margin-left: 10px;
}
a.text-arrow:hover .arrow.f-2.left, a.text-arrow:hover .arrow.f-1.left, a.text-arrow:hover .arrow.left.button, a.text-arrow:hover .arrow.f-0.left, a.text-arrow:hover footer a.arrow.left, footer a.text-arrow:hover a.arrow.left, a.text-arrow:hover header a.arrow.left, header a.text-arrow:hover a.arrow.left {
  margin-left: 0;
  margin-right: 10px;
}
a.text-underline {
  position: relative;
}
a.text-underline:before {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #12283B;
  width: 0;
  height: 2px;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
}
a.text-underline:before:hover {
  visibility: visible;
  width: 100%;
}
a.text-underline:hover:before {
  visibility: visible;
  width: 100%;
}
a.text-underline.champagne:before, a.text-underline.contact-items:before, a.text-underline.bottom-picture-title:before, footer a.text-underline:before {
  background-color: #FAD6A5;
}

.arrow {
  opacity: 0;
}
.arrow.f-4 {
  width: 38px;
  margin-left: -38px;
}
@media screen and (max-width: 768px) {
  .arrow.f-4 {
    width: 32px;
    margin-left: -32px;
  }
}
.arrow.f-3, header .arrow.title {
  width: 32px;
  margin-left: -32px;
}
@media screen and (max-width: 768px) {
  .arrow.f-3, header .arrow.title {
    width: 26px;
    margin-left: -26px;
  }
}
.arrow.f-2 {
  width: 26px;
  margin-left: -26px;
}
@media screen and (max-width: 768px) {
  .arrow.f-2 {
    width: 20px;
    margin-left: -20px;
  }
}
.arrow.f-1, .arrow.button {
  width: 20px;
  margin-left: -20px;
}
@media screen and (max-width: 768px) {
  .arrow.f-1, .arrow.button {
    width: 16px;
    margin-left: -16px;
  }
}
.arrow.f-0, footer a.arrow, header a.arrow {
  width: 16px;
  margin-left: -16px;
}
@media screen and (max-width: 768px) {
  .arrow.f-0, footer a.arrow, header a.arrow {
    width: 16px;
    margin-left: -16px;
  }
}

/* ----------------------- BUTTONS ----------------------- */
.button {
  width: 300px;
  height: 60px;
  transition: ease-in-out 0.3s;
  background-color: transparent;
  border-radius: 3em;
}
.button.champagne, .button.contact-items, .button.bottom-picture-title, footer a.button {
  border: solid #FAD6A5 3px;
}
.button.champagne:hover, .button.contact-items:hover, .button.bottom-picture-title:hover, footer a.button:hover {
  color: #12283B;
  background-color: #FAD6A5;
}
.button.blue, header a.button {
  border: solid #12283B 3px;
}
.button.blue:hover, header a.button:hover {
  color: #FAD6A5;
  background-color: #12283B;
}
@media screen and (max-width: 768px) {
  .button {
    width: 200px;
    height: 50px;
  }
}

/* ----------------------- IMAGES ----------------------- */
.bg-img, .top-billboard, .bg-img-left, .bg-img-bottom, .bg-img-right, .bg-img-top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-img-top {
  background-position: center top;
}

.bg-img-right {
  background-position: center right;
}

.bg-img-bottom {
  background-position: center bottom;
}

.bg-img-left {
  background-position: center left;
}

/* ----------------------- HEADER ----------------------- */
.header-space {
  height: 75px !important;
}
@media screen and (max-width: 768px) {
  .header-space {
    height: 60px !important;
  }
}

.header-logo {
  width: 46px;
  height: 46px;
  margin-right: 10px !important;
}
@media screen and (max-width: 768px) {
  .header-logo {
    width: 36px;
    height: 36px;
  }
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FAD6A5;
  z-index: 999;
}
header .screen-lg {
  height: 70px !important;
}
header .screen-lg .title {
  line-height: 30px;
}
header .screen-lg .title-under {
  font-size: 13px;
}
header .screen-lg a {
  margin: 0 15px;
}
header .screen-sm {
  position: relative;
  height: 60px !important;
}
header .screen-sm .title {
  line-height: 25px;
}
header .screen-sm .title-under {
  font-size: 11px;
}
header .screen-sm .burger-wrap {
  position: relative;
  width: 30px;
  height: 15px;
}
header .screen-sm .burger-wrap .bun-1, header .screen-sm .burger-wrap .bun-2 {
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #12283B;
}
header .screen-sm .burger-wrap .bun-2 {
  bottom: 0;
  left: 0;
}
header .screen-sm .drop-down {
  position: absolute;
  top: 59px;
  width: 100vw;
  height: 0;
  background-color: #FAD6A5;
}
header .screen-sm .drop-down a {
  margin: 20px 0;
  display: none;
  opacity: 0;
}

/* ----------------------- FOOTER ----------------------- */
footer {
  height: 100px;
  width: 100%;
  scroll-snap-align: start;
}
footer a {
  margin: 5px 15px;
}
footer .socials {
  height: 25px;
}
@media screen and (max-width: 768px) {
  footer .socials {
    height: 20px;
  }
}

/* ----------------------- SNAPPING ----------------------- */
.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-snap-start {
  scroll-snap-align: start !important;
}

.scroll-snap-center {
  scroll-snap-align: center !important;
}

/* ----------------------- BILLBOARDS ----------------------- */
.billboard-lg, .top-billboard {
  width: 100% !important;
  height: 100vh !important;
  scroll-snap-align: center;
}

.top-billboard {
  position: relative;
}

/* ----------------------- CAROUSEL ----------------------- */
.carousel-indicators li {
  width: 20px;
  margin: 0 5px;
  color: white;
}
@media screen and (max-width: 768px) {
  .carousel-indicators li {
    width: 10px;
  }
}

.bottom-picture-title {
  position: absolute;
  right: 80px;
  bottom: 40px;
}
@media screen and (max-width: 768px) {
  .bottom-picture-title {
    right: 30px;
    bottom: 30px;
  }
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
  width: 80px;
}
@media screen and (max-width: 768px) {
  .carousel-control-prev, .carousel-control-next {
    width: 40px;
  }
}

.inputText {
  width: 100%;
  max-height: 30vh;
  border: none;
  border-bottom: 3px solid #12283B;
  background-color: transparent;
  color: #12283B;
}

.contact-map {
  height: 49%;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media screen and (max-width: 768px) {
  .contact-map {
    height: 50%;
    margin-bottom: 20px;
  }
}

.contact-items {
  flex-direction: row;
  justify-content: flex-start !important;
  text-align: left !important;
}
.contact-items img {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 50px;
}
@media screen and (max-width: 768px) {
  .contact-items img {
    margin-bottom: 0;
    width: 30px;
  }
}

/*# sourceMappingURL=contact.css.map */
